*{box-sizing: border-box;}


body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

nav {
    display:flex;
     margin-left: 60%;
}

a{color: black;
    padding: 10px;
}

nav p{
    display: block;
    font-family: sans-serif;
}