*{box-sizing: border-box;}


body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

nav {
    display:flex;
     margin-left: 60%;
}

a{color: black;
    padding: 10px;
}

nav p{
    display: block;
    font-family: sans-serif;
}
header{
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 2px gray;
    align-items: center;
    border-bottom: 1px solid rgb(105, 96, 96);
    padding: 1rem;
}

.signup{
    border: blue 1px solid;
  
    padding: 10px 20px;
}
